<div *ngIf="loggedin === 'true'"><!--If Obs is null show loading-->
  <mat-toolbar color="primary">
    <h1>
      SanityTests
    </h1>

    <span fxFlex="grow"></span>

    <div>
      Welcome {{displayame}}!
      <button mat-icon-button>

        <fa-icon (click)="tutorialService.logout()" class="fas faSignOutAlt fa-lg" [icon]="['fas', 'sign-out-alt']">
        </fa-icon>
        <!--signup-->
      </button>
    </div>    
  </mat-toolbar>

  Learnings
    Obs-{{loggedinObs | async}} var-{{loggedin}}
    Used as Flag-*ngIf=afAuth.authState | async as user => user obj available
    Tillthenshowspinner
    How to check user obj value is null using key -> use loggedin var.


  Angular Material
    
      Mat-Button
      <button mat-raised-button color="primary">Primary</button>
    
      Mat-spinner
      <mat-spinner></mat-spinner>
    
      Mat-dialog
    <button mat-raised-button color="primary" (click)="openDialog()">Pick one</button>
    
  Flex layout
    1.FxLayout-row/column
    <div fxLayout="column">
      <span>First-Span</span>
      <span>Second-Span</span>
    </div>
    <div fxLayout="row">
      <div>First-Div</div>
      <div>Second-Div</div>
    </div>

    2.fxShow/fxHide
    Element: <div fxShow> Showed</div>
    Element: Hiddenhere: <div fxHide> Hidden</div>
  Font Awesome
    1.Solid freeIcons
    <button mat-icon-button>
      <fa-icon (click)="tutorialService.login()" class="fas faSignInAlt fa-lg" [icon]="['fas', 'sign-in-alt']">
      </fa-icon>
    </button>
  Firebase
    1.Authentication: 
    A.Observable:loggedinObs: Observable-string
    B.Variable- loggedin: string



    2.Storage
    3.Firestore
    4.rxFire

</div>
    <div *ngIf="loggedin === undefined">
        SHOW SPINNER
    </div>


    <div *ngIf="loggedin === 'false'">
      <mat-toolbar color="primary">
        <h1>
          SanityTests
        </h1>
    
        <span fxFlex="grow"></span>
    
        <div>
          Welcome User!
          <button mat-icon-button>
            <fa-icon (click)="tutorialService.login()" class="fas faSignInAlt fa-lg" [icon]="['fas', 'sign-in-alt']">
            </fa-icon>
          </button>
        </div>    
      </mat-toolbar>
      SHOW SCELETON Menu details
      Show log in dialog  
    </div>